<ion-view view-title="Agenda" ng-controller="AgendaController as vm">
  <ion-content class="padding">
    <div class="list card" ng-repeat="dia in vm.dias">
      <div class="item item-divider">
        Dia {{dia[0]}}
      </div>

      <div class="item item-icon-left" ng-repeat="evento in dia[1]">
        <i class="icon {{evento.icone}} assertive"></i>
        <h2>{{evento.title}}</h2>
        <p>{{evento.date}} - {{evento.location_id}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
